<div class="w-100 d-flex flex-row">
  <div style="width: 70px; background-color: #3d3d3d" class="p-2">
    <div
      style="height: 3rem; border-bottom: 1px solid gray"
      class="d-flex flex-row justify-content-center"
    >
      <img
        style="height: 2rem"
        src="../../../assets/icons/Happierwork Social Image (circle) 1.svg"
        alt=""
      />
    </div>
  </div>
  <div class="w-100">
    <div
      class="w-100"
      style="height: 3.5rem; background-color: white"
      class="p-2 pt-3"
    >
      <span style="color: #1a1202; font-weight: 600; font-size: 1rem"
        >Workforce Planning</span
      >
    </div>
    <div
      style="height: 100vh; background-color: rgb(255, 234, 212); padding: 1%"
      class="w-100"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
